mixin range-slider({ min=0, max=100, step=1, range="true", orientation="HORIZONTAL", tips="true", progress="true", scale="true", values=[0,100] })
  -
    const { controls } = require('./range-slider.json')

  .range-slider.js-range-slider
    .range-slider__panel
      each control in controls 
        p.range-slider__control 
          label.range-slider__label= control.label
            input(type=control.type class=`range-slider__input ${control.className}`)
    .range-slider__slider-container.js-range-slider__slider-container(
      data-min= min
      data-max= max
      data-step= step
      data-orientation= orientation
      data-tips= tips
      data-values= values
      data-range= range
      data-progress= progress
      data-scale= scale
    )